{% extends 'base.html.twig' %}



{% block body %}
    <section class="container-fluid section-portfolio">
        <div class="row">
            <div class="container">
                <div class="row">
                    <h2 class=" text-uppercase my-3 col-12 mt-5" style="border-bottom: 1px solid #fcd08a">Mon portfolio</h2>

                    {% for project in projects %}
                        <div class="col-lg-4 col-12">

                            <div  class="d-block project-card mt-5">
                                <div class="project-card__body">

                                    <div class="project-card__image" style="background: url({{ project.cover }})">
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <a href="{{ path('admin_project',{'id':project.id}) }}" style="display: inline-block;position: relative;top: -20px"><i class="far fa-edit"></i></a>
                                            <a href="{{ path('admin_delete_project',{'id':project.id}) }}" style="display: inline-block;position: relative;top: -20px" class="ml-3"><i class="fas fa-trash-alt"></i></a>
                                        {% endif %}
                                    </div>
                                    <a href="" class="project-card__title mt-3"  data-id="{{ project.id }}">
                                        {{ project.title }}
                                    </a>
                                    <div class="project-card__description">
                                        - {{ project.caption }}
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="mt-5 d-inline-block" href="{{ path('admin_project') }}">AJOUTER UN PROJET</a>
                {% endif %}

            </div>
        </div>


    </section>


    <section id="project-view" class="container-fluid" >


    </section>
{% endblock %}
