<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

        <link href="{{ asset('build/css/app.css') }}" rel="stylesheet">
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}
        <script src="https://kit.fontawesome.com/7508d2ae4c.js" crossorigin="anonymous"></script>
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
    <header>
        {% include "front/include/_header.html.twig" %}

    </header>
    <section>
        <div class="container-fluid pt-3 pb-5 section_title" >
            <h2 class="text-center text-uppercase mt-3 ">Developpeur web sur Bordeaux</h2>
        </div>
    </section>
    <section>
        <div class="container section_career">
            <div class="row" >
                <div class="col-6 ">
                    <div class="section_career__description">
                        <div class=" section_career__opacity">
                            <h3 class="text-left mt-5" style="color: #777777">D'ouvrié à développeur</h3>
                            <p class="mt-4">Depuis toujours j'ai voulu programmer, d'abord des jeux vidéos quand j'étais enfant (comme beaucoup :)),
                                je me suis finalement passionné par le web, autodidacte depuis de nombreuses années en parallele de mon travail
                                j'ai finalement décidé de me reconvertir et de vivre de ma passion, s'en ai suivi une formation diplomante en tant que <strong>developpeur
                                    d'application PHP et Symfony </strong> en 2020.
                            </p>
                            <p class="my-5">
                                Aujourd'huit freelance, j'ai pu déja réaliser plusieurs projets, ce que j'aime dans ce métié en dehors du coté technique
                                et de pouvoir apporter une solution au problemes des mes clients, en tant que prestataire j'essaye au maximum de comprendre le
                                besoin et d'apporter une solution simple, rapide et éfficace.
                            </p>
                        </div>
                    </div>


                </div>
                <div class="col-6">
                    <div class="section_career__photo"></div>
                </div>
            </div>


        </div>


    </section>
    <section class="section-service">
        <div class="container mt-5 pb-5">
            <div class="row">
                <h2 class="text-center text-uppercase my-3 col-12 " >Mes services</h2>
                <div class="section-service__description">
                    Site vitrine, e-commerce, intégration web, développement sur mesure etc... je serais m'adapter à tous les projets et vous proposerai
                    les technologies les plus appropriées à votre projet, que ce soit un CMS (wordpress, prestashop ...) ou du fait à la main il existe toujours
                    une solution fiable et économique, je vous accompagnerez tout au long de votre projet tel un associé !
                </div>
                <div class="service-info col-6">
                    <div class="service-info__body d-flex align-items-end ">

                        <div class="service-info__icone"><i class="fas fa-store"></i> </div>
                        <div class="service-info__title ml-3">E-commerce</div>
                    </div>
                    <div class="service-info__description">Vendez en ligne, gérez votre boutique : clients, commandes, stocks...</div>
                </div>

                <div class="service-info col-6">
                    <div class="service-info__body d-flex align-items-end ">

                        <div class="service-info__icone"><i class="fas fa-globe"></i> </div>
                        <div class="service-info__title ml-3">Market place</div>
                    </div>
                    <div class="service-info__description">Mettez en relation vendeur et acheteur.</div>
                </div>

                <div class="service-info col-6">
                    <div class="service-info__body d-flex align-items-end ">

                        <div class="service-info__icone"><i class="fas fa-desktop"></i> </div>
                        <div class="service-info__title ml-3">Site vitrine</div>
                    </div>
                    <div class="service-info__description">Présentez-vous, soignez votre image, augmentez votre notoriété.</div>
                </div>

                <div class="service-info col-6">
                    <div class="service-info__body d-flex align-items-end ">

                        <div class="service-info__icone"><i class="fas fa-laptop-code"></i> </div>
                        <div class="service-info__title ml-3">Intégration web</div>
                    </div>
                    <div class="service-info__description">Convertir une maquette en site web html/css.</div>
                </div>

                <div class="service-info col-6">
                    <div class="service-info__body d-flex align-items-end ">

                        <div class="service-info__icone"><i class="fas fa-mobile-alt"></i> </div>
                        <div class="service-info__title ml-3">Design responsive</div>
                    </div>
                    <div class="service-info__description">Adapter un site web à tous les supports (tablettes, smatphones, pc ...).</div>
                </div>

                <div class="service-info col-6">
                    <div class="service-info__body d-flex align-items-end ">

                        <div class="service-info__icone"><i class="fas fa-wrench"></i> </div>
                        <div class="service-info__title ml-3">Développement spécifique</div>
                    </div>
                    <div class="service-info__description">Je serais à votre écoute et proposerais les solutions les plus adaptées.</div>
                </div>
            </div>


        </div>



    </section>
    <section class="section-competence">
        <div class="container">
            <div class="row">
                <h2 class="text-center text-uppercase my-3 col-12 " style="border-bottom: 1px solid #fcd08a">Mes compétences</h2>

                <div class="col-6">
                    <span class="section-competence__title"><i class="fas fa-code mr-2"></i>DEVELOPPEMENT</span>
                    <div class="row">
                        <div class="section-competence__body col-12">
                            <div class="section-competence__icone "><i class="fab fa-symfony fa-2x"></i></div>
                            <div class="section-competence__gauge-background">
                                <div class="section-competence__gauge" style="width: 90%"> Symfony</div>
                            </div>
                        </div>
                        <div class="section-competence__body col-12">
                            <div class="section-competence__icone "><i class="fab fa-php fa-2x"></i></div>
                            <div class="section-competence__gauge-background">
                                <div class="section-competence__gauge" style="width: 90%">PHP</div>
                            </div>
                        </div>
                        <div class="section-competence__body col-12">
                            <div class="section-competence__icone "><i class="fab fa-html5 fa-2x"></i></div>
                            <div class="section-competence__gauge-background">
                                <div class="section-competence__gauge" style="width: 80%">Html - css - sass</div>
                            </div>
                        </div>

                        <div class="section-competence__body col-12">
                            <div class="section-competence__icone "><i class="fab fa-wordpress fa-2x"></i></div>
                            <div class="section-competence__gauge-background">
                                <div class="section-competence__gauge" style="width: 80%">Wordpress - Woocommerce</div>
                            </div>
                        </div>

                        <div class="section-competence__body col-12">
                            <div class="section-competence__icone "><i class="fab fa-js-square fa-2x"></i></div>
                            <div class="section-competence__gauge-background">
                                <div class="section-competence__gauge" style="width: 70%">js vanilla - jquery</div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-6 ">
                    <div class="section-competence__title mb-4 text-uppercase"><i class="fas fa-toolbox mr-2"></i>Mes alliés</div>
                    <div class="tag d-flex align-items-center justify-content-between">
                        <div class="tag__icon d-flex align-items-center"><img src="{{ asset('img/bootstrap.png') }}" alt=""></div>
                        <div class="tag__title px-2">BOOTSTRAP 4</div>
                    </div>

                    <div class="tag d-flex align-items-center justify-content-between mt-2">
                        <div class="tag__icon d-flex align-items-center"><img src="{{ asset('img/elastic.png') }}" alt=""></div>
                        <div class="tag__title px-2">ELASTIC SEARCH</div>
                    </div>

                    <div class="tag d-flex align-items-center justify-content-between mt-2">
                        <div class="tag__icon d-flex align-items-center"><img src="{{ asset('img/webpack.png') }}" alt=""></div>
                        <div class="tag__title px-2">WEBPACK</div>
                    </div>

                    <div class="tag d-flex align-items-center justify-content-between mt-2">
                        <div class="tag__icon d-flex align-items-center"><img src="{{ asset('img/sass.png') }}" alt=""></div>
                        <div class="tag__title px-2">SASS</div>
                    </div>
                    <div class="tag d-flex align-items-center justify-content-between mt-2">
                        <div class="tag__icon d-flex align-items-center"><img src="{{ asset('img/phpunit.svg') }}" alt=""></div>
                        <div class="tag__title px-2">PHP UNIT</div>
                    </div>

                </div>






            </div>


        </div>


    </section>


    </body>
</html>
