<section class="section-competence">
    <div class="container">
        <div class="row">
            <h2 class="text-uppercase  col-12 inViewPort" data-direction="right" style="border-bottom: 1px solid #fcd08a">Mes compétences</h2>

            <div class="col-lg-6 col-12">
                <span class="section-competence__title"><i class="fas fa-code mr-2"></i>DEVELOPPEMENT</span>
                <div class="row">
                    <div class="section-competence__body col-12">
                        <div class="section-competence__icone "><i class="fab fa-symfony fa-2x"></i></div>
                        <div class="section-competence__gauge-background">
                            <div class="section-competence__gauge inViewPort" data-anime="width" data-width="95%" > Symfony</div>
                        </div>
                    </div>
                    <div class="section-competence__body col-12">
                        <div class="section-competence__icone " ><i class="fab fa-php fa-2x"></i></div>
                        <div class="section-competence__gauge-background">
                            <div class="section-competence__gauge inViewPort" data-anime="width" data-width="93%" >PHP</div>
                        </div>
                    </div>
                    <div class="section-competence__body col-12">
                        <div class="section-competence__icone "><i class="fab fa-html5 fa-2x"></i></div>
                        <div class="section-competence__gauge-background">
                            <div class="section-competence__gauge inViewPort" data-anime="width" data-width="90%" >Html - css - sass</div>
                        </div>
                    </div>

                    <div class="section-competence__body col-12">
                        <div class="section-competence__icone "><i class="fab fa-wordpress fa-2x"></i></div>
                        <div class="section-competence__gauge-background">
                            <div class="section-competence__gauge inViewPort" data-anime="width" data-width="80%">Wordpress - Woocommerce</div>
                        </div>
                    </div>

                    <div class="section-competence__body col-12">
                        <div class="section-competence__icone "><i class="fab fa-js-square fa-2x"></i></div>
                        <div class="section-competence__gauge-background">
                            <div class="section-competence__gauge inViewPort" data-anime="width" data-width="75%">js vanilla - jquery</div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-lg-6 col-12 ">
                <div class="section-competence__title mb-4 text-uppercase mt-5 mt-lg-0"><i class="fas fa-toolbox mr-2 "></i>Mes alliés</div>
                <div class="tag d-flex align-items-center justify-content-between">
                    <div class="tag__icon d-flex align-items-center"><img src="{{ asset('img/bootstrap.png') }}" alt=""></div>
                    <div class="tag__title px-2">BOOTSTRAP 4</div>
                </div>

                <div class="tag d-flex align-items-center justify-content-between mt-2">
                    <div class="tag__icon d-flex align-items-center"><img src="{{ asset('img/elastic.png') }}" alt=""></div>
                    <div class="tag__title px-2">ELASTIC SEARCH</div>
                </div>

                <div class="tag d-flex align-items-center justify-content-between mt-2">
                    <div class="tag__icon d-flex align-items-center"><img src="{{ asset('img/webpack.png') }}" alt=""></div>
                    <div class="tag__title px-2">WEBPACK</div>
                </div>

                <div class="tag d-flex align-items-center justify-content-between mt-2">
                    <div class="tag__icon d-flex align-items-center"><img src="{{ asset('img/sass.png') }}" alt=""></div>
                    <div class="tag__title px-2">SASS</div>
                </div>
                <div class="tag d-flex align-items-center justify-content-between mt-2">
                    <div class="tag__icon d-flex align-items-center"><img src="{{ asset('img/phpunit.svg') }}" alt=""></div>
                    <div class="tag__title px-2">PHP UNIT</div>
                </div>

            </div>

        </div>


    </div>
    <div class="container-fluid d-none d-lg-block">
        <div class="row">
            <div class="col-12 d-flex align-items-center justify-content-around mb-5 "  style="position: relative;top: 89px;">
                <div class="tag tag--big d-flex align-items-center justify-content-center inViewPort" data-anime="scale" data-delay="0">
                    <div class="tag__icon  d-flex  align-items-center"><i class="fas fa-phone-volume fa-2x"></i></div>
                    <div class="tag__title mr-2">Rendez-vous</div>
                </div>
                <div class="tag tag--big  d-flex align-items-center justify-content-center inViewPort" data-anime="scale" data-delay="600">
                    <div class="tag__icon  d-flex align-items-center"><i class="fas fa-comments fa-2x"></i></div>
                    <div class="tag__title mr-2">Prise de note</div>
                </div>
                <div class="tag tag--big d-flex align-items-center justify-content-center inViewPort" data-anime="scale" data-delay="1200">
                    <div class="tag__icon  d-flex align-items-center"><i class="fas fa-book-open fa-2x"></i></div>
                    <div class="tag__title mr-2">Cahier des charges</div>
                </div>
                <div class="tag tag--big d-flex align-items-center justify-content-center inViewPort" data-anime="scale" data-delay="1800">
                    <div class="tag__icon  d-flex align-items-center"><i class="fas fa-vial fa-2x"></i></div>
                    <div class="tag__title text-center mr-2">Tests</div>
                </div>
                <div class="tag tag--big d-flex align-items-center justify-content-center inViewPort" data-anime="scale" data-delay="2400">
                    <div class="tag__icon  d-flex align-items-center"><i class="far fa-smile-beam fa-2x"></i></div>
                    <div class="tag__title mr-2">Livraison</div>
                </div>

            </div>
        </div>
    </div>


</section>
